<%= simple_form_for @question do |form| %>
  <%= form.input :author %>
  <%= form.input :topic %>
  <%= form.input :grade %>
  <%= form.input :statement %>

   <!-- Campo de upload de arquivo abaixo do campo 'Statement' -->
  <div class="field">
    <%= form.label :statement_files, 'Upload de Arquivos para a Questão' %>
    <%= form.file_field :statement_files, multiple: true %>
  </div>

  <%= form.simple_fields_for :question_subjects do |subject_form| %>
    <%= 'Matéria(s)' %>
    <br>
     <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :subject_name do |cb| %>
      <%= cb.check_box %>
      <%= cb.label %>
      <br>
    <% end %>
    <br>
  <% end %>

   <%= form.simple_fields_for :question_competencies do |competency_form| %>
    <%= 'Competencia(s)' %>
    <br>
     <%= form.collection_check_boxes :competency_ids, Competency.all, :id, :competency_name do |cb| %>
      <%= cb.check_box %>
      <%= cb.label %>
      <br>
    <% end %>
    <br>
  <% end %>


  <%= form.simple_fields_for :options do |option_form| %>
    <%= option_form.input :option %>
    <%= option_form.input :is_correct, as: :boolean %>

    <!-- Campo de upload de arquivo para cada opção -->
    <div class="field">
      <%= option_form.label :option_files, 'Upload de Arquivos para a Opção' %>
      <%= option_form.file_field :option_files, multiple: true %>
    </div>
  <% end %>

  <%= form.submit 'Create Question', class: 'btn btn-primary' %>
<% end %>
