<div class="container mt-5">
  <h1 class="mb-4">Detalhes da Questão</h1>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Informações Básicas</h5>
          <p class="card-text"><strong>Autor:</strong> <%= @question.author %></p>
          <p class="card-text"><strong>Assunto:</strong> <%= @question.topic %></p>
          <p class="card-text"><strong>Série:</strong> <%= @question.grade %></p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Enunciado</h5>
          <p class="card-text"><%= @question.statement.html_safe %></p>
          <% if @question.statement_files.attached? %>
            <% image = @question.statement_files.first %>
            <%= image_tag image, alt: 'Question Image', class: 'card-img-top img-fluid' %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Matérias</h5>
          <ul class="list-group list-group-flush">
            <% @question.subjects.each do |subject| %>
              <li class="list-group-item"><%= subject.subject_name %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Competências</h5>
          <ul class="list-group list-group-flush">
            <% @question.competencies.each do |competency| %>
              <li class="list-group-item"><%= competency.competency_name %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title">Opções</h2>
      <ol class="list-group list-group-numbered">
        <% counter = 0 %>
        <% @question.options.each do |option| %>
          <% counter += 1 %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-start">
              <div>
                <h5 class="mb-0">Opção <%= counter %>:</h5>
                <p><%= option.option %></p>
                <% if option.option_files.attached? %>
                  <% option.option_files.each do |image| %>
                    <% if image.content_type.starts_with? 'image' %>
                      <%= image_tag image, width: '400px', alt: 'Option Image', class: 'img-fluid option-image mb-2' %>
                    <% elsif image.audio? %>
                      <audio controls class="mb-2">
                        <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                      </audio>
                    <% elsif image.video? %>
                      <video controls width="100%" class="mb-2">
                        <source src="<%= rails_blob_url(image) %>" type="<%= image.content_type %>"/>
                      </video>
                    <% else %>
                      <%= link_to image.filename, rails_blob_path(image, disposition: 'attachment') %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <div class="text-end">
                <strong>Correta:</strong> <%= option.is_correct ? 'Sim' : 'Não' %>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  </div>

  <a href="<%= questions_path %>" class="btn btn-primary mt-3">Voltar</a>
</div>
