<h1>Detales da questão</h1>

<p><strong>Autor:</strong> <%= @question.author %></p>
<p><strong>Assunto:</strong> <%= @question.topic %></p>
<p><strong>Série:</strong> <%= @question.grade %></p>
<p><strong>Enunciado:</strong> <%= @question.statement %></p>
<% if @question.statement_files.attached? %>
  <% image = @question.statement_files.first %>
  <%= image_tag image, alt: 'Question Image' %>
<% end %>
<h2>Matérias</h2>
<ul>
  <% @question.subjects.each do |subject| %>
    <li><%= subject.subject_name %></li>
  <% end %>
</ul>

<h2>Competências</h2>
<ul>
  <% @question.competencies.each do |competency| %>
    <li><%= competency.competency_name %></li>
  <% end %>
</ul>

<h2>Opções</h2>
<ol>
  <% @question.options.each do |option| %>
    <li><strong>Option:</strong> <%= option.option %></li>
    <% if option.option_files.attached? %> <!-- Check if option has files attached -->
      <% option.option_files.each do |image| %> <!-- Iterate over all option files -->
        <% if image.content_type.starts_with? 'image' %> <!-- Check if file is an image -->
          <%= image_tag image, alt: 'Option Image', size: "200x200", class: "option-image" %> <!-- Display image with options -->
        <% else %>
          <p>This file is not an image.</p> <!-- Handle non-image file -->
        <% end %>
      <% end %>
    <% end %>
    <li><strong>Is Correct:</strong> <%= option.is_correct ? 'Yes' : 'No' %></li>
  <% end %>
</ol>



<%= link_to 'Back', questions_path %>
